.visit-container {
  width: 562px;
  margin: 0 auto;
}

.dark-block {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.modal-visit {
  padding-bottom: 31px;
  background-color: color(background, 'secondary');
  box-shadow: 0 7px 20px rgba(40, 41, 61, 0.08);
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 663px;
  height: 530px;
  transform: translate(-50%, -50%);

  &__title {
    color: color(text, 'accent');
    margin: 17px 0 23px;
    @include fontProperties(700, 22, 26);
  }

  &__form {
    flex-wrap: wrap;
    @include flexProperties(center, end);
  }

  &__wrapper {
    width: 270px;
    position: relative;
  }

  &__wrapper:nth-child(7) {
    width: 562px;
    position: relative;
  }

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__gap {
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid color(text, 'grey');
    margin-bottom: 24px;
    @include fontProperties(600, 14, 18);
  }

  &__gap:focus {
    outline: none;
  }

  &__dropdown-list {
    display: none;
    position: absolute;
    width: 100%;
    top: 35px;
    box-shadow: 0 7px 20px rgb(40 41 61 / 15%);
    color: color(text, 'grey');
    background: aliceblue;
    z-index: 1;
    border-radius: 0 0 3px 3px;
    @include fontProperties(500, 14, 18);
  }

  &__dropdown {
    cursor: pointer;
  }

  &__dropdown-item {
    padding: 16px 0 16px 10px;
    border-left: 2px solid transparent;
    cursor: pointer;
  }

  &__dropdown-item:hover,
  &__dropdown-item:focus,
  &__dropdown-item:active {
    color: color(text, 'accent');
    border-left: 2px solid color(text, 'accent');
    background: white;
  }

  &__img {
    margin: 30px auto;
  }

  &__button-box {
    position: absolute;
    bottom: 21px;
    right: 24px;
  }

  &__button-save {
    color: color(text, 'white');
    border-radius: 4px;
    padding: 8px 16px;
    @include fontProperties(500, 14, 18);
  }

  &__button-cancel {
    color: color(text, 'white');
    border-radius: 4px;
    padding: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ffffff;
    @include fontProperties(500, 14, 18);
  }

  &__extra {
    display: block;
    width: 562px;
    position: relative;
  }

  &__calendar-logo {
    position: absolute;
    top: 1px;
    right: 3px;
    cursor: pointer;
  }
}

.dropdown-error {
  color: red;
  position: absolute;
  top: 30px;
}

.dropdown:after {
  position: absolute;
  right: 10px;
  top: 5px;
  content: '';
  height: 8px;
  width: 8px;
  transform: rotate(-45deg);
  border-left: 2px solid color(text, 'grey');
  border-bottom: 2px solid color(text, 'grey');
}

.dropdown:before {
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
  content: '';
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  border-left: 2px solid color(text, 'grey');
  border-top: 2px solid color(text, 'grey');
}

.placeholder::placeholder {
  @include fontProperties(500, 14, 18);
  color: color(text, 'grey');
}

.menu-open {
  display: block;
}

.doctor-item,
.hide {
  display: none;
}

.calendar {
  color: color(text, 'grey');
  padding-bottom: 4px;
  @include fontProperties(500, 14, 18);
}

.calendar::-webkit-calendar-picker-indicator {
  font-size: 22px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.small {
  width: 270px;
}

.opened-modal {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}
