@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import 'base/module';
@import 'utils/module';
@import 'components/module';

body {
  font-family: $fontFamily;
  font-weight: 400;
  font-size: $fontSize;
  color: $mainColor;
  overflow: hidden;
}

#app {
  height: 100%;
  background-color: color(background);
}

.registration {
  height: 100%;
  @include flexProperties(center, center, null, 110px);
}

.header {
  height: 72px;
  @include flexProperties(normal);
}

.main {
  display: flex;
  height: calc(100vh - 72px);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.38);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0aeae;
}
